@charset "UTF-8";


/* Plot only style sheet */
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
  color: azure;
  
}
body{
  background-image: url("https://th.bing.com/th/id/R.aeadb1c1dca8946c9dbb92cd99e63b8e?rik=7FhwdiGXOT3iSQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fc%2fb%2fc%2f967736-d-gray-man-wallpaper-2560x1600-for-android-50.jpg&ehk=1ibhIBZiKl4xRX%2bWeyjQD%2fEOu9RJI4Wmq0xlp%2bKtyvc%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 10%;

}
.header{
  display: flex;
  justify-content: center;
  
}
.header img {
  width: 70%;
  opacity: 0.85;
}

.column {
  display: flex;
  justify-content:center
  width: 30%;
  padding: 10px;
}

.column img {
  float: left;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}


.navbar{
  margin-top: 50px;
  font-family: naruto;
  font-size: 2em;
  text-shadow: 3px 3px 10px rgb(33, 2, 54);
  list-style-type: none;
  
}

.navbar a{
  color: rgb(22, 0, 164);
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;

}
.navbar li {
  display: inline;
  list-style-type: none;
}

 .p1 {
  background-color: rgb(83, 0, 83);
  padding: 1em;
  border-radius: 2em;
  font-size: larger;
}
/*Since it only has one box whats bellow doesn't matter*/
.p2 {
  background-color: red;
  border-radius: 2em;
  padding: 1em;
}
.p3 {
  background-color: rgb(255, 196, 0);
  color: black;
  border-radius: 2em;
  padding: 1em;
}
/*End of what doesn't matter*/
.p1,.p2,.p3 {
  min-height: 350px;
}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color: transparent;
}


.footer p {
 
  text-shadow: 3px 3px 3px gray;
  font-size: 1.5em;

}

.button{
  background-color: white;
  color:black;
  border-radius: .25em;
  padding-top: 2px;
  border: 0%;
  margin: 0%;
  font-size: larger;
}


/* This CSS uses the font that was downloaded in the webpage */
@font-face {
  font-family: naruto;
  src: url(fonts/naruto.ttf);
}
h1 {
  font-family: naruto;
  font-size: 100px;
  padding-left: 20%;
  text-shadow: 3px 3px 3px black;
  color: rgb(25, 83, 160);
}
/* Responsive layout - when the screen get a certain size I change the width of the columns and the size of the image so it will fit.*/
@media (max-width: 900px) {
  .column {
    width: 100%;
    font-size: .75em;
  }
.column img {
  height: 200px;
  
}
}





