@charset "utf-8";
/* CSS Document */
*{
    box-sizing: border-box;
}

body {
    background: url(https://th.bing.com/th/id/R.98b366c4773125d41e29d562c5079970?rik=9%2bpHA39LutYlDg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp2036988.png&ehk=QWDhJ5KnLsN2P0Ngxx4i7Mb%2bq4xKoiVp5n9mV2vHxPk%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wrapper{
    display: grid;
    justify-items: auto;
    gap:1em ;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "topnav topnav topnav"
    "sidebar content sidebar2"
    "footer footer footer";

    /*CSS wrapper*/
    background-color: transparent;
    color: rgb(255, 247, 247);
    padding: 0 175px 0 110px;
    margin: 0;
    position: relative;
}

.header {
    grid-area: header;
}

.topnav {
    grid-area: topnav;
}

.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}
.sidebar2{
    grid-area: sidebar2;
}

.footer{
    grid-area: footer;
}

.topnav a{
    padding-right: 50px;
    font-size: 2em;
    text-decoration: none;
}

.box {
    background-color: rgb(141, 63, 0);
    color: bisque;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}

.header, .footer {
    background-color: rgb(73, 13, 13);
    justify-items: center;
}

.header {
    background-color: transparent;
}

.sidebar li {
    list-style-type: none;
}

.sidebar { 
    a:link, a:visted {color: #fff; }
    a:focus, a:hover, a:active {color: #fff}
}

.sidebar2{
    background-color: rgb(141, 63, 0);
    color: bisque;
}

.imgsize{
    max-width: 50vw;
    height: auto;
    display: flex;
    border: rgb(73, 13, 13), solid 20px;
}

.flex{
    display: flex;
    justify-content: center;
}

a:link, a:visited {color: #ffffff;}
a:focus, a:hover, a:active {color: #ffffff;}

@media only screen and (max-width: 1200px)
{
    .wrapper {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "header header"
        "topnav topnav"
        "sidebar content"
        "sidebar2 sidebar2"
        "footer footer";
    }
    .box {
        font-size: 1em;
    }
    .flex {
        flex-wrap: nowrap;
    }
}
/*for smaller screens like mobile*/
@media only screen and (max-width: 800px){
    .wrapper {
        display:block;
        width: 100%;
    }
    .box{
        float: left;
        width: 100%;
        font-size: 1em;
    }
    .imgsize {
        object-position: 15% 100%;
        justify-content: center;
    }
    .topnav {
        display: block;
        font-size: 1em;
        text-align: center;
    }
}

@media only screen and (max-width: 700px){
    .topnav{
        display: block;
    }
    .box {
        border-radius: 0%;
    }
}